.pic-style {
  /* padding: 5px; */
  box-shadow: 0 4px 8px 0 rgba(6, 61, 240, 0.2),
    0 6px 20px 0 rgba(28, 31, 207, 0.19);
  transition-duration: 2s;
  transition: 0.7s;
  /* height: 400px; */
}

.pic-style:hover {
  transform: rotateZ(5deg);
  /* transform: rotate3d(0, 1, 0.5, 3.142rad); */
  /* transform: scale(-1.1); */
  overflow: hidden;
}
